.navbar {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}
 
ul {list-style: none;padding: auto;margin: auto;}
 ul li {display: block;position: relative;float: left;border:1px solid #000}

li {
	margin-left: 100px;
}
li:hover {color:blue;}
